
h4{
    margin-left:10px;
    font-size: 30px;
}
form{
    margin-top: 10px;
    margin-bottom: 60px;
    margin-left: 600px;
    font-size: 18px;
    text-align: justify;
}
label{
    text-align: left;

}
.btn{
    text-transform: uppercase;
    text-align: center;
    font-size:18px;
    background-color: red;
color:white
}
input[type]{
    padding:6px;
}
#f{
    border: 1px solid whitesmoke;
}
